body{
font-family:Arial;
margin:0;
background:#f2fff2;
}

.login-bg{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?w=1200")
center/cover;
}

.login-box{
background:white;
padding:30px;
border-radius:15px;
width:320px;
text-align:center;
}

input{
width:100%;
padding:12px;
margin:10px 0;
}

button{
background:green;
color:white;
padding:12px;
border:none;
width:100%;
cursor:pointer;
}

header{
background:green;
color:white;
padding:20px;
text-align:center;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
padding:30px;
border-radius:15px;
text-decoration:none;
color:black;
font-size:20px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card:hover{
transform:scale(1.05);
}
.login-bg{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(
    rgba(0,100,0,0.5),
    rgba(0,100,0,0.5)),
    url("https://images.unsplash.com/photo-1500937386664-56d1dfef3854?w=1200");
    background-size:cover;
    background-position:center;
}

.login-box{
    background:rgba(255,255,255,0.95);
    padding:40px;
    border-radius:20px;
    width:400px;
    text-align:center;
    box-shadow:0 10px 30px rgba(0,0,0,0.3);
}
.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    padding:30px;
}

.card{
    background:white;
    padding:40px;
    min-height:180px;
    border-radius:20px;
    text-decoration:none;
    color:#1b5e20;
    font-size:28px;
    font-weight:bold;
    text-align:center;
    box-shadow:0 10px 20px rgba(0,0,0,.15);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}
header{
    background:#1b5e20;
    color:white;
    padding:25px;
    text-align:center;
    font-size:28px;
}
.card p{
    margin-top:15px;
    font-size:16px;
    font-weight:normal;
    color:#555;
}
.search-container{
max-width:800px;
margin:auto;
padding:30px;
}

.info-card{
background:white;
padding:25px;
margin-top:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.info-card h2{
color:#1b5e20;
margin-bottom:15px;
}

.info-card p{
margin:10px 0;
font-size:17px;
}
textarea{
width:100%;
padding:15px;
border-radius:10px;
border:1px solid #ccc;
margin-bottom:15px;
font-size:16px;
}

#chatResult{
margin-top:20px;
}
